/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */


/** General Styles **/




/* Buttons */




/* -------------------- Base Header - Footer Styles -------------------- */

/* Header */

/* Mobile Header - Toggle Menu */


.mobile-header {
}

.mobile-header .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row nowrap;
  width: 100%;
}

.menu-content {
  max-height: 0;
  overflow: hidden;
}

.dropdown-menu {
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
}

.dropdown-menu li {
  display:block;
  padding: 10px;
}

.dropdown-menu a {
  text-decoration: none;
  color: #000;
}

.dropdown-menu label{
  display: block;
  cursor: pointer;
}

input#menu {
  display: none;
}

 /* Toggle Effect */

 input:checked ~ .menu-content {
   max-height: 100%;
 }


/* Desktop Header */

.desktop-header {
  display: none;
}

/* Footer */

footer figure {
  display: none;
}

footer {
  display: flex;
  justify-content: center;

}

footer .content-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin:0;
}


footer .content-wrapper .footer-content {
  padding-bottom: 50px;
}

footer figure {
}

footer address {
}


/* -------------------- Mobile Styles - Homepage -------------------- */
.content-wrapper {
  width: 80%;
  margin: 50px 0;
}
/* Hero Area */

.hero-area {

}

.hero-area .hero-content{
  display: flex;
  justify-content: center;
}

.hero-area .hero-content .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* Welcome Area */


.welcome {
  display: flex;
  justify-content: center;
}

.welcome .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
}

/* About */

.about {
  display: flex;
  justify-content: center;
}

.about .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}


.about .about-left {
}

.about .about-right {
}

.about .about-features {
}

.about .about-features-item {
}

/* Contac Us */

.contact-us {
  display: flex;
  justify-content: center;
}

.contact-us .content-wrapper {
  display: flex;
  align-items: center;
  flex-flow: column;
  text-align: center;
}

/* Review */

.review {
  display: flex;
  justify-content: center;
}

.review .content-wrapper{
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
}

.review {
}

/* ==========================================================================
  Services Page
  ========================================================================== */

  /* Top Section GENERAL*/

  .introduction {
    display: flex;
    justify-content: center;
  }

  .introduction .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    text-align: center;
  }

  /* Top Section Services */

  .introduction .content-wrapper h3,
  .introduction .content-wrapper p {
    margin: 0;
  }


/* Services */

.services {
  display: flex;
  justify-content: center;
}

.services .content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.services .services-item {
}

/* Tours & Experiences */

#tours {
  display: flex;
  justify-content: center;
}

#tours .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
}

#tours .content-wrapper .tours-content-left,
#tours .content-wrapper .tours-content-right {
    margin-bottom: 50px;
}


#tours .tour-features {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
}

#tours .features-item {
  width: 100%;
}

/* Send Request */

.send-request {
  display: flex;
  justify-content: center;
}

.send-request .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}


  /* ==========================================================================
    Contact Page
    ========================================================================== */

/* Top Section */

.introduction .content-wrapper .contact-cta p {
  margin-bottom: 40px;
}


.introduction .content-wrapper .contact-instructions {
  text-align: left;
}

/* Contact Information */

.contact-information {
  display: flex;
  justify-content: center;
}
.contact-information .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 150px;

}

.contact-information address {
}

address .mail,
address .social {
  text-align: center;
  margin-bottom: 20px;
}

address .phone {
  text-align: center;

}

address .contact-divider {
    background: black;
    height: 1px;
    width: 50%;
    margin: 10px 0 20px 0;

}




 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



   @media only screen and (min-width: 768px) {

   /*General Styles*/

.mobile-header {
  display: none;
}

.content-wrapper {
  max-width: 640px;
  margin: 100px 0;

}

.desktop-header {
  display: flex;
  justify-content: center;
}

.desktop-header .content-wrapper nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

footer figure {
  display: flex;
}


footer .content-wrapper .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

    /* Welcome Area */

.welcome .content-wrapper {
  width: 40%;
}

.about .content-wrapper {
  justify-content: space-between;
}

    /* About */

.about .content-wrapper .about-left,
.about .content-wrapper .about-right {
  width: 40%;
}

.about .content-wrapper .about-left {
  border-right: 1px solid black;
  padding-right: 55px;
}

/* ==========================================================================
  Services Page
========================================================================== */


/* Introduction */

.introduction .content-wrapper {
   width: 60%;
}

/* Services */

.services .content-wrapper {
  flex-direction: row;
  justify-content: space-between;
}

.services .content-wrapper .services-item {
  width: 30%;
}

/* Tours & Experiences */


#tours .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}


#tours .content-wrapper .tours-content-right,
#tours .content-wrapper .tours-content-left {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

#tours .content-wrapper .tours-content-left figure {
  order: 2;
}

#tours .content-wrapper figure {
  width: 50%;
}

#tours .content-wrapper .tour-description  {
  width: 50%;
}

#tours .content-wrapper .tour-features {
  justify-content: space-around;
}

#tours .features-item {
  width: 30%;
}


/* ==========================================================================
  Contact Page
========================================================================== */


/* Contact Information */

.contact-information .content-wrapper {
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}


address .mail,
address .social,
address .phone {
  margin: 0;
}

address .mail,
address .social {
  border-right: 1px solid black;
  padding-right: 60px;
}

address .contact-divider {
  display: none;
}


}

   @media only screen and (min-width: 1200px) {

/* General */

   .content-wrapper {
     max-width: 960px;
   }

   /*Header*/

   .desktop-header .content-wrapper {
     width: 50%;
   }

  /* Welcome Area */

  .welcome .content-wrapper {
    width: 30%;
  }


/* about */


.about .content-wrapper .about-left {
  border-right: 1px solid black;
  padding-right: 75px;
}


/* ==========================================================================
  Services Page
  ========================================================================== */

  /* Introduction */

  .introduction .content-wrapper {
     width: 40%;
  }

  /* ==========================================================================
    Contact Page
  ========================================================================== */

  address .mail,
  address .social {
    padding-right: 120px;
  }













   }














@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
