/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */


/** General Styles **/

html {
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

ul {
list-style-type:;
}

a {
 text-decoration: none;
 color: #000;
}

h1 {
  font-size: 1.75em;
  font-weight: normal;
  text-transform: uppercase;

}

h2 {
  font-size: 1.25em;
  font-weight: normal;
  line-height: 1.6875;
}

h3 {
  font-size: 1.125em;
  text-transform: uppercase;
  font-weight: normal;
}

h4 {
  font-size: 1em;
  font-weight: 600;
}

p {
  font-size: 1em;
  line-height: 1.5625;
}

address {
  font-style: normal;
}

.content-wrapper {
  width: 90%;
  margin: 50px 0;
}

.about,
.services,
.send-request,
.contact-information,
.tours-left {
  background: #fafafa;
}

img {
  width: 100%;
}

figure {
  margin:0;
}

.fa-facebook-square {
  margin-right: 5px;
}

.fa-facebook-square,
.fa-instagram {
  font-size: 1.3em;
}

/* Buttons */

.more-button {
  width: 130px;
  padding: 15px 0;
  margin-top: 20px;
  background-color: #2D8DAE;
  font-size: 1em;
  color: #fff;
  border: none;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.contact-button {
  width: 130px;
  padding: 15px 0;
  margin-top: 20px;
  background-color: #F7645F;
  font-size: 1em;
  color: #000;
  border: none;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

/* -------------------- Base Header - Footer Styles -------------------- */

/* Header */

header {
  font-size: .875em;
  text-transform: uppercase;
}

.active a {
  color: #F7645F;
}

.contact-book a {
  border: .5px solid #F7645F;
  padding: 5px;
}

/* Mobile Header - Toggle Menu */


.mobile-header {
  display: flex;
  justify-content: center;
}

.mobile-header .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row nowrap;
  width: 90%;
  margin-top:30px;
  margin-bottom: 50px;
}

.menu-content {
  max-height: 0;
  overflow: hidden;
}

.dropdown-menu {
  width: 300px;
  text-align: right;
  padding-right: 40px;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  padding-right: 40px;
  width: 100%;
}

.dropdown-menu li {
  display:block;
  padding: 10px;
}

.dropdown-menu a {
  text-decoration: none;
}

.dropdown-menu label{
  font-size: 1.5em;
  margin-top: 30px;
  margin-right: 10px;
  display: block;
  cursor: pointer;
}

input#menu {
  display: none;
}

 /* Toggle Effect */

 input:checked ~ .menu-content {
   max-height: 100%;
 }

 .mobile-header img {
   width: 70px;
   margin-left: 40px;
 }


/* Desktop Header */

.desktop-header {
  display: none;
}

/* Footer */

footer figure {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #004F69;

}

footer .content-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
}


footer .content-wrapper .footer-content {
  padding-bottom: 50px;
}

footer .content-wrapper p,
footer .content-wrapper i {
  color: #fff;
}

footer .content-wrapper address {
  margin-bottom: 40px;
}

footer .content-wrapper address p {
  line-height: 2;
}

footer .content-wrapper .footer-content .divider {
  background: #fff;
  height: 1px;
  width: 55%;
  margin-left: 47px;
}



/* -------------------- Mobile Styles - Homepage -------------------- */

/* Hero Area */

.hero-area {
  background: url("../img/hero-background.jpg") center no-repeat #fafafa;
  background-size: cover;
  height: 750px;
}

.hero-area .hero-content{
  display: flex;
  justify-content: center;
}

.hero-area .hero-content .content-wrapper {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* Welcome Area */


.welcome {
  display: flex;
  justify-content: center;
}

.welcome .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
}

.welcome p {
  font-size: 1em;
  line-height: 2;
}

.welcome p span {
  font-weight: 600;
}

/* About */

.about {
  display: flex;
  justify-content: center;
}

.about .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}

.about-features {
  padding-left: 0;
}
.about h3 {
  text-align: center;
}

.about h4 {
  margin-bottom: 0;
}

.about p {
  margin-top: 0;
}

.about p a {
  text-decoration: underline;
}

.about ul {
  list-style-type: none;
}

.about .bird-bullet {
  background: url("../img/ssl-icon.png") no-repeat left 1px;
  padding-left: 40px;
}

/* Contac Us */

.contact-us {
  display: flex;
  justify-content: center;
}

.contact-us .content-wrapper {
  display: flex;
  align-items: center;
  flex-flow: column;
  text-align: center;
}


/* Review */

.review {
  display: flex;
  justify-content: center;
}

.review .content-wrapper{
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
}

.review .name {
  font-size: .9em;
}

/* ==========================================================================
  Services Page
  ========================================================================== */

  /* Top Section GENERAL*/

.introduction {
  display: flex;
  justify-content: center;
}

.introduction .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
  background-color: #fff;
  margin-top: -100px;
  padding: 15px;
  width: 70%;
}

.introduction p,
.introduciton h3 {
  line-height: 2em;
}

  /* Top Section Services */

.header-picture-services {
  background: url("../img/services-background.jpg") center no-repeat;
  background-size: cover;
  height: 520px;
  }

.introduction .content-wrapper h3,
.introduction .content-wrapper p {
  margin: 0;
}

.introduction .content-wrapper p span {
  font-weight: 600;
}

/* Services */

.services {
  display: flex;
  justify-content: center;
}

.services .content-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.services figure {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* Tours & Experiences */

#tours-start {
  text-align: center;
  margin-top: 50px;
}

.tours {
  display: flex;
  justify-content: center;
}

.tours .tour-features {
  display: flex;
  flex-flow: row wrap;
}

.tours .features-item {
  width: 100%;
}

.tours .features-item ul {
  margin-left: -20px;
}

.tours figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Send Request */

.send-request {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.send-request .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  line-height: 2em;
}

.send-request h3 {
  text-transform: none;
}

  /* ==========================================================================
    Contact Page
    ========================================================================== */

/* Top Section */

.header-picture-contact {
  background: url("../img/contact-background.jpg") center no-repeat;
  background-size: cover;
  height: 520px;
}

.introduction .content-wrapper .contact-cta p {
  margin-bottom: 40px;
}

.introduction .content-wrapper .contact-instructions {
  text-align: left;
}

.introduction .content-wrapper .contact-instructions p {
  font-weight: 600;
  line-height: normal;
}

/* Contact Information */

.contact-information {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.contact-information .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.contact-information address {
}

address .mail,
address .social {
  text-align: center;
  margin-bottom: 20px;
}

address .phone {
  text-align: center;

}

address .contact-divider {
    background: black;
    height: 1px;
    width: 50%;
    margin: 10px 0 20px 0;

}




 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



   @media only screen and (min-width: 768px) {

   /*General Styles*/

.mobile-header {
  display: none;
}

.content-wrapper {
  max-width: 640px;
  margin: 100px 0;
}

.desktop-header {
  display: flex;
  justify-content: center;
}

.desktop-header .content-wrapper {
  margin: 65px 0 30px 0;
}

.desktop-header .content-wrapper nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.contact-book a {
  padding: 8px;
}

.desktop-header img{
  width: 100px;
  margin-top: -50px;
}

footer figure {
  display: flex;
  width: 30%;
}

footer .content-wrapper .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

footer .content-wrapper address {
  margin-bottom: 0;
  width: 35%;
}

 /**** HOMEPAGE ****/

/* Hero Area */

 .hero-area .desktop-header {
   margin-bottom: 35px;
 }

    /* Welcome Area */

.welcome .content-wrapper {
  width: 60%;
}

.about .content-wrapper {
  justify-content: space-between;
}

    /* About */

.about .content-wrapper .about-left,
.about .content-wrapper .about-right {
  width: 40%;
}

.about .content-wrapper .about-left {
  border-right: 1px solid black;
  padding-right: 55px;
}



/* ==========================================================================
  Services Page
========================================================================== */


/* Introduction */

.introduction .content-wrapper {
   width: 60%;
}

/* Services */

.services figure {
  width: 50%;
}

/* Tours & Experiences */

.tours .content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
  margin: 50px;
}

.tours .content-wrapper figure {
  width: 45%;
  margin-top: 18px;
}

.tours-left .content-wrapper figure {
  order: 2;
}

.tours .content-wrapper .tour-description {
  width: 50%;
}




/* ==========================================================================
  Contact Page
========================================================================== */


/* Contact Information */

.contact-information .content-wrapper {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}


address .mail,
address .social,
address .phone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  width: 33%;
}

address .mail,
address .social {
  border-right: 1px solid black;
}

address .mail p {
  font-size: .8em;
}

address .contact-divider {
  display: none;
}


}

   @media only screen and (min-width: 1200px) {

/* General */

   .content-wrapper {
     max-width: 960px;
   }


   h1 {
     font-size: 1.875em;
   }

   h2 {
     font-size: 1.375em;
   }

   h3 {
     font-size: 1.25em;
   }

   /*Header*/

   .desktop-header .content-wrapper {
     width: 50%;
   }

   header figure {
     width: 15%;
   }

   /* Footer */

   footer figure {
     width: 30%;
   }

   footer .content-wrapper address {
     margin-top: 40px;
   }

   footer .content-wrapper .footer-content .divider {
     background: #fff;
     height: 1px;
     width: 60%;
     margin-left: 60px;
   }


  /* Welcome Area */

  .welcome .content-wrapper {
    width: 40%;
  }


  /* about */


.about .content-wrapper .about-left {
  border-right: 1px solid black;
  padding-right: 75px;
}


 /*Contact Us */

 .contact-us h2 {
   font-size: 1.375em;
 }

  /*Review */

  .review p {
    font-size: 1.25em;
  }

  .review .name {
    font-size: 1em;
  }

/* ==========================================================================
  Services Page
  ========================================================================== */

  /* Introduction */

  .introduction .content-wrapper {
     width: 40%;
  }

  .introduciton p,
  .introduction h3 {
    line-height: 2em;
  }

  .services .content-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .services .services-item {
    width: 30%;
  }

  .services figure {
    width: 100%;
  }

  .tours .features-item {
    width: 30%;
  }

  /* ==========================================================================
    Contact Page
  ========================================================================== */

  address .mail p {
    font-size: 1em;
  }













   }














@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
